@font-face {
  font-family: "iransans";
  src: url("../../fonts/IRANSansWeb.eot");
  src: url("../../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/IRANSansWeb.woff") format("woff"),
    url("../../fonts/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iransans-light";
  src: url("../../fonts/IRANSansWeb_Light.eot");
  src: url("../../fonts/IRANSansWeb_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/IRANSansWeb_Light.woff") format("woff"),
    url("../../fonts/IRANSansWeb_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: iransans !important;
}

body {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}

.page-link {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  color: #fff;
  background: #3f51b5;
}
::-webkit-scrollbar {
  padding: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  width: 6px;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.scrollbar {
  overflow: hidden;
  padding-left: 6px !important;
}

.scrollbar:hover {
  padding-left: 0 !important;
}

html.touch .scrollbar {
  overflow-y: scroll;
  padding-right: 0 !important;
}
.chipIcon {
  margin: 0 !important;
  color: white !important;
}
.chipLabel {
  white-space: normal !important;
}
.carousel .slider-wrapper {
  direction: ltr !important;
}
.carousel .control-dots {
  width: 85% !important;
  margin: auto !important;
}

@media (max-width: 480px) {
  .sectin__container {
    flex-direction: column;
  }
  .sectin__divContainer {
    width: 100% !important;
  }
  .sectin__Card {
    width: 100% !important;
  }
}
._error_login{
   margin: 0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
@media (max-width: 767px) {
  ._error_login{
    font-size: 10px;
}
}
