 .background-image {
   z-index: -1;
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background: url('../../images/auth/bg.jpg');
   background-position: center;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 .background-image::after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
 }
 

 .container {
   height: 100vh;

 }

 #logo {
   height: 100px;
   width: 100px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 50px;
 }